/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: CS.Brandt
   ========================================================================== */

   html 
   {
       overflow: hidden;
   }

   body
   {
       background-color: #525251;
   }

   h1
   {
       font-family: 'Lekton', sans-serif;
       font-weight: 700; 
       font-size: 1.8em;
       margin: 0px;
       padding: 0px;

       display: inline;
   }

   h2
   {
       font-family: 'Lekton', sans-serif;
       font-weight: 700; 
       font-size: 1.5em;
       margin: 0px;
       padding: 0px;

       display: inline;
   }

   h3
   {
       font-family: 'Ubuntu', sans-serif;
       font-weight: 700; 
       font-size: 1.2em;
       margin: 0px;
       padding: 0px;

       display: inline;
   }

   input
   {
       font-family: 'Ubuntu', sans-serif;
       font-weight: 700; 
       font-size: 1em;
       color: #525251;
   }

   #header
   {
       background-color: black;
       width: 100%;
       height: 38px;
   }

   #logo
   {
       color: #525251;
       padding-left: 6px;
       padding-top: 2px;
       vertical-align: text-bottom;

       display: inline;
   }

   #search_field
   {
       width: 100%;
       height: 22px;
       border: 2px solid #525251;
   }

   #search_field:focus
   {
       outline: none;
   }

   #logo_text:hover
   {
      cursor: pointer;
      background-color: #525251;
      color: #000000;
   }

   #search_button
   {
       display: inline-block;

       height: 24px;
       width: 32px;
       border: 2px solid #525251;
       color: #525251;
       background-color: #000000;
       text-align: center;
       vertical-align: text-bottom;
       font-family: 'WebSymbolsRegular';
       font-size: 1.2em;
       margin-left: -6px;
   }

   #search_button:hover
   {
       cursor: pointer;
       background-color: #525251;
       color: #000000;
   }

   #axis_title
   {
       border-bottom: 1px solid black;
       border-top: 1px solid black;
   }

   #search_container
   {
       width: 25%;
       display: inline-block;
       vertical-align: text-bottom;
       min-width: 150px;
   }

   #chart_canvas_container
   {
       position: absolute;
       top: 38px;
       bottom: 0px;
       left: 0px;
       right: 0px;
       margin: 4px 4px 4px 4px;
   }

   #chart_canvas
   {
       width: 100%;
       height: 100%;
   }

   #results
   {
       position: absolute;
       top: 0px;
       bottom: 0px;
       left: 0px;
       right: -30px;
       padding-right: 16px;

       overflow-y: scroll;
       overflow-x: hidden;
   }

   #feed_selector
   {
       height: 28px;
       display: inline-block;
       line-height: 0.8;
       vertical-align: text-bottom;
       margin-left: 6px;
   }

   #feed_title
   {
       color: silver;
       font-family: 'Ubuntu', sans-serif;
       font-weight: 700;
       font-size: 0.8em;
       line-height: 1.0;
       background-color: #525251;
   }

   #feed_title_header
   {
       font-family: 'Lekton', sans-serif;
       font-weight: 700; 
       font-size: 1.2em;
       color: #525251;
   }

   span.axis_button:hover
   {
       background-color: #979797;
       cursor: pointer;
   }

   .resultDiv
   {
       position: relative;
       float: left;

       background: #FFFFFF;
   }

   .result_title
   {
       position: absolute;
       top: 0px;
       left: 0px;
       color: #525251;
       font-family: 'Ubuntu', sans-serif;
       max-width: 75%;
       background: rgba(255, 255, 255, 0.7);
       font-size: 1em;
       line-height: 1.0;
       padding-left: 6px;
       padding-top: 2px;
       padding-bottom: 2px;
       padding-right: 6px;

       border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;
       -moz-border-radius-topright: 10px;
       -moz-border-radius-bottomright: 10px;
       -webkit-border-bottom-right-radius: 10px;
       -webkit-border-top-right-radius: 10px;
   }

   img.entry_thumbnail
   {
       width: 100%;

       transition: opacity .17s ease-in-out;
       -moz-transition: opacity .17s ease-in-out;
       -webkit-transition: opacity .17s ease-in-out;
   }

   img.entry_thumbnail:hover
   {
       opacity: 0.85;
   }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
